<!DOCTYPE html>
<html lang="en-gb">
  <%= partial "head" %>
  <body>
    <%= partial "navbar" %>
    <div class="container body-content">
        <h1><%= current_page.data.title %></h1>
        <p><%= current_page.data.date.strftime('%e %B %Y') %> by <a href="/about-me/" alt="<%= blog_author %>" title="<%= blog_author %>"><%= blog_author %></a> | <a href="<%= URI.join(site_root_uri, current_page.url) %>#disqus_thread">0 comments</a></p>
        <p><%= partial "facebook" %>&nbsp;<%= partial "twitter" %>&nbsp;<%= partial "googleplus" %></p>
        <%= yield %>
        <hr />
        <p><%= partial "facebook" %>&nbsp;<%= partial "twitter" %>&nbsp;<%= partial "googleplus" %></p>
        <div id="disqus_thread"></div>
        <hr />
        <%= partial "footer" %>
    </div>
    <%= partial "aside" %>
    <%= partial "scripts" %>
    <%= partial "analytics" %>
    <%= partial "disquscount" %>
    <%= partial "disqusthread" %>
  </body>
<%= partial "builddate" %>
</html>
