<!DOCTYPE html>
<html lang="en-gb">
  <%= partial "head" %>
  <body>
    <%= partial "navbar" %>
    <div class="container body-content">
        <div class="jumbotron">
            <h1><%= current_page.data.title %></h1>
            <p class="lead"><%= current_page.data.description %></p>
        </div>
        <p><%= current_page.data.date.strftime('%e %B %Y') %> by <a href="/about-me/" alt="<%= blog_author %>" title="<%= blog_author %>"><%= blog_author %></a> | <a href="<%= URI.join(site_root_uri, current_page.url) %>#disqus_thread">0 Comments</a> | <a href="/feed.xml"><i class="fa fa-rss"></i></a></p>
        <p><%= partial "facebookshare" %>&nbsp;<%= partial "twittershare" %>&nbsp;<%= partial "googleplusshare" %></p>
        <%= yield %>
        <hr />
        <p><%= partial "facebookshare" %>&nbsp;<%= partial "twittershare" %>&nbsp;<%= partial "googleplusshare" %></p>
        <div id="disqus_thread"></div>
        <hr />
        <%= partial "footer" %>
    </div>
    <%= partial "aside" %>
    <%= partial "scripts" %>
    <%= partial "analytics" %>
    <%= partial "disquscount" %>
    <%= partial "disqusthread" %>
  </body>
<%= partial "version" %>
</html>
