<!DOCTYPE html>
<html lang="en-gb">
  <%= partial "head" %>
  <body>
    <%= partial "navbar" %>
    <main class="container body-content">
        <div class="p-4 mb-3 bg-light rounded-3">
            <div class="container-fluid py-3">
                <h1 class="display-5"><%= current_page.data.title %></h1>
                <p class="col-md-8 fs-4 lead"><%= current_page.data.description %></p>
            </div>
        </div>
        <p>
            <div class="row d-none d-md-block">
                <div class="col-6">
                    <%= current_page.data.date.strftime('%e %B %Y') %> by <a href="/about-me/" rel="noopener" title="About <%= config[:blog_author] %>"><%= config[:blog_author] %></a> |
                    <a href="/feed.xml" rel="noopener" title="View the RSS syndication feed"><span class="fa-solid fa-rss" aria-hidden="true"></span></a>
                </div>
            </div>
            <div class="row d-md-none">
                <div class="col-12">
                    <%= current_page.data.date.strftime('%e %B %Y') %> by <a href="/about-me/" rel="noopener" title="About <%= config[:blog_author] %>"><%= config[:blog_author] %></a>
                </div>
                <div class="col-12">
                    <a href="/feed.xml" rel="noopener" title="View the RSS syndication feed"><span class="fa-solid fa-rss" aria-hidden="true"></span></a></p>
                </div>
            </div>
        </p>
        <%= partial "social" %>
        <%= yield %>
        <hr />
        <%= partial "social" %>
        <hr />
        <%= partial "footer" %>
    </main>
    <%= partial "aside" %>
    <%= partial "css" %>
    <%= partial "scripts" %>
  </body>
</html>
