<!DOCTYPE html>
<html lang="en-gb">
  <%= partial "head" %>
  <body>
    <%= partial "navbar" %>
    <main class="container body-content">
        <%= yield %>
        <hr />
        <%= partial "footer" %>
    </main>
    <%= partial "aside" %>
    <%= partial "css" %>
    <%= partial "scripts" %>
  </body>
</html>
