<!DOCTYPE html>
<html lang="en-gb">
  <%= partial "head" %>
  <body>
    <%= partial "navbar" %>
    <div class="container body-content">
        <%= yield %>
        <hr />
        <%= partial "footer" %>
    </div>
    <%= partial "aside" %>
    <%= partial "scripts" %>
    <%= partial "analytics" %>
    <%= partial "disquscount" %>
    </body>
</html>
