<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <title><%= (current_page.data.title || blog_title) +  " | " + blog_subtitle %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="<%= blog_author %>" />
    <meta name="copyright" content="&copy; <%= blog_author %> 2014-2015" />
    <meta name="description" content="<%= current_page.data.title || blog_title %>" />
    <meta name="language" content="en" />
    <meta name="robots" content="INDEX" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1" />
    <meta property="og:description" content="<%= current_page.data.title || blog_title %>" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="<%= blog_title %>" />
    <meta property="og:title" content="<%= current_page.data.title || blog_title %>" />
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="<%= twitter_handle %>">
    <meta name="twitter:description" content="<%= current_page.data.title || blog_title %>">
    <meta name="twitter:domain" content="<%= site_domain %>" />
    <meta name="twitter:site" content="<%= twitter_handle %>">
    <meta name="twitter:title" content="<%= current_page.data.title || blog_title %>">
    <meta name="google-site-verification" content="<%= site_verification_google %>" />
    <meta name="msvalidate.01" content="<%= site_verification_bing %>" />
    <link rel="canonical" href="<%= URI.join(site_root_uri, current_page.url) %>" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/sitemap.xml" rel="sitemap" type="application/xml" />
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom" %>
    <%=
        stylesheet_link_tag "bootstrap-theme.min",
                            "font-awesome.min",
                            "site",
                            { type: nil, rel: "prefetch" }
    %>
    <%=
        stylesheet_link_tag "bootstrap-theme.min",
                            "font-awesome.min",
                            "site"
    %>
    <script type="text/javascript">
        if (self == top) {
            document.documentElement.className = document.documentElement.className.replace(/\bjs-flash\b/, '');
        }
        else {
            top.location = self.location;
        }
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><%= site_domain %></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about-me/">About Me</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <% if current_page.data.showTitle %>
            <h1><%= current_page.data.title %></h1>
            <p><%= current_page.data.date.strftime('%e %B %Y') %> by <a href="/about-me/" alt="<%= blog_author %>" title="<%= blog_author %>"><%= blog_author %></a></p>
        <% end %>
        <%= yield %>
        <hr />
        <footer>
            <p>&copy; <%= blog_author %> 2014-2015 | <a href="http://status.martincostello.com/" target="_blank">Site Status &amp; Uptime</a></p>
        </footer>
    </div>
    <!--
    <aside>
      <h2>Recent Posts</h2>
      <ol>
        <% blog.articles[0...10].each do |article| %>
          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
        <% end %>
      </ol>

      <h2>Tags</h2>
      <ol>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ol>

      <h2>By Year</h2>
      <ol>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
        <% end %>
      </ol>
    </aside>
    -->
    <%=
        javascript_include_tag "jquery-2.1.4.min",
                               "respond.min",
                               "bootstrap.min"
    %>
    <!--
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= analytics_id %>']);
        _gaq.push(['_setDomainName', '<%= site_domain %>']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    -->
    </body>
</html>
