<%
  file = File.open("version.txt", "rb")
  git_sha = file.read
  file.close()
%>
<footer>
  <p>
    <div class="row">
      <div class="hidden-sm hidden-xs col-md-12 col-lg-12">
        &copy; <%= blog_author %> 2014-<%= Time.now.utc.strftime("%Y") %> | <a href="http://status.martincostello.com/" target="_blank">Site Status &amp; Uptime</a> | Built from <a href="https://github.com/martincostello/blog/commit/<%= git_sha %>"><%= git_sha[0,7] %></a>
      </div>
      <div class="hidden-md hidden-lg col-xs-12 col-sm-12">
        &copy; <%= blog_author %> 2014-<%= Time.now.utc.strftime("%Y") %>
      </div>
    </div>
  </p>
</footer>
