<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
    <title><%= (current_page.data.title || blog_title) +  " | " + blog_subtitle %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="author" content="<%= blog_author %>" />
    <meta name="copyright" content="&copy; <%= blog_author %> 2014-<%= Time.now.utc.strftime("%Y") %>" />
    <meta name="description" content="<%= current_page.data.description || current_page.data.title || blog_title %>" />
    <meta name="language" content="en" />
    <meta name="theme-color" content="#ffffff" />
    <%
      keywords = []
      if current_page.data.tags
        current_page.data.tags.split(",").each do |tag|
          keywords.push(tag)
        end
      else
        blog.tags.each do |tag, articles|
          keywords.push("#{tag}")
        end
      end
      keywordsMeta = keywords.join(",")
    %>
    <meta name="keywords" content="<%= keywordsMeta %>" />
    <meta name="robots" content="INDEX" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1" />
    <meta property="article:author" content="<%= facebook_profile %>" />
    <meta property="article:tag" content="<%= keywordsMeta %>" />
    <%= partial "facebookmeta" %>
    <%= partial "microsoft" %>
    <%= partial "opengraph" %>
    <%= partial "twittermeta" %>
    <meta name="google-site-verification" content="<%= site_verification_google %>" />
    <meta name="msvalidate.01" content="<%= site_verification_bing %>" />
    <link rel="canonical" href="<%= URI.join(site_root_uri, current_page.url) %>" />
    <%=
        tag(:link, :rel => "manifest", :href => "/manifest.json", :open => false)
    %>
    <link href="https://<%= cdn_domain %>/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/sitemap.xml" rel="sitemap" type="application/xml" />
    <%#
    <link rel="next" href="" />
    <link rel="prev" href="" />
    %>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom" %>
    <script type="text/javascript">
        if (self == top) {
            document.documentElement.className = document.documentElement.className.replace(/\bjs-flash\b/, '');
        }
        else {
            top.location = self.location;
        }
    </script>
</head>
