<head>
    <title><%= (current_page.data.title || blog_title) +  " | " + blog_subtitle %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="<%= blog_author %>" />
    <meta name="copyright" content="&copy; <%= blog_author %> 2014-<%= Time.now.utc.strftime("%Y") %>" />
    <meta name="description" content="<%= current_page.data.title || blog_title %>" />
    <meta name="language" content="en" />
    <%
      keywords = []      
      if current_page.data.tags
        current_page.data.tags.split(",").each do |tag|
          keywords.push(tag)
        end
      else
        blog.tags.each do |tag, articles|
          keywords.push("#{tag}")
        end
      end
      keywordsMeta = keywords.join(",")
    %>
    <meta name="keywords" content="<%= keywordsMeta %>" />
    <meta name="robots" content="INDEX" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1" />
    <meta name="application-name" content="<%= blog_title %>" />
    <meta name="msapplication-config" content="browserconfig.xml" />
    <meta name="msapplication-navbutton-color" content="#0095DA" />
    <meta name="msapplication-starturl" content="/" />
    <meta property="article:author" content="<%= blog_author %>" />
    <meta property="article:tag" content="<%= keywordsMeta %>" />
    <meta property="og:description" content="<%= current_page.data.title || blog_title %>" />
    <!--
    <meta property="og:image" content="" />
    -->
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="<%= blog_title %>" />
    <meta property="og:title" content="<%= current_page.data.title || blog_title %>" />
    <meta property="og:type" content="article" />
    <meta property="og:updated_time" content="<%= File.mtime(current_page.source_file).iso8601 %>" />
    <meta property="og:url" content="<%= URI.join(site_root_uri, current_page.url) %>" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@<%= twitter_handle %>">
    <meta name="twitter:description" content="<%= current_page.data.title || blog_title %>">
    <meta name="twitter:domain" content="<%= site_domain %>" />
    <!--
    <meta name="twitter:image" content="" />
    -->
    <meta name="twitter:site" content="@<%= twitter_handle %>">
    <meta name="twitter:title" content="<%= current_page.data.title || blog_title %>">
    <meta name="twitter:url" content="<%= URI.join(site_root_uri, current_page.url) %>" />
    <meta name="google-site-verification" content="<%= site_verification_google %>" />
    <meta name="msvalidate.01" content="<%= site_verification_bing %>" />
    <link rel="canonical" href="<%= URI.join(site_root_uri, current_page.url) %>" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/sitemap.xml" rel="sitemap" type="application/xml" />
    <!--
    <link rel="next" href="" />
    <link rel="prev" href="" />
    -->
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom" %>
    <%= partial "css" %>
    <script type="text/javascript">
        if (self == top) {
            document.documentElement.className = document.documentElement.className.replace(/\bjs-flash\b/, '');
        }
        else {
            top.location = self.location;
        }
    </script>
</head>
