---
title: Archive
description: "The archive of blog posts for Martin Costello's blog."
---

<div class="jumbotron">
    <h1><%= current_page.data.title %></h1>
    <p class="lead"><%= current_page.data.description %></p>
</div>
<% blog.articles.each do |article| %>
<div class="row">
    <div class="col-md-12">
        <h2><%= link_to article.title, article %></h2>
        <p>
          <div class="row hidden-xs hidden-sm">
                <div class="col-md-6 col-lg-6">
                    <%= article.date.strftime('%e %B %Y') %> by <a href="/about-me/" alt="<%= blog_author %>" title="<%= blog_author %>"><%= blog_author %></a> |
                    <a href="<%= article.url %>#disqus_thread">0 Comments</a>
                </div>
            </div>
            <div class="row hidden-md hidden-lg">
                <div class="col-xs-12 col-sm-12">
                    <%= article.date.strftime('%e %B %Y') %> by <a href="/about-me/" alt="<%= blog_author %>" title="<%= blog_author %>"><%= blog_author %></a>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <a href="<%= article.url %>#disqus_thread">0 Comments</a>
                </div>
            </div>
        </p>
    </div>
</div>
<% end %>
