---
title: Archive
description: "The archive of blog posts for Martin Costello's blog."
---

<div class="p-4 mb-3 bg-light rounded-3">
    <div class="container-fluid py-3">
        <h1 class="display-5">
            <%= current_page.data.title %>
            <span class="fa-solid fa-box-archive" aria-hidden="true"></span>
        </h1>
        <p class="col-md-8 fs-4 lead"><%= current_page.data.description %></p>
    </div>
</div>
<% blog.articles.each do |article| %>
<div class="row">
    <div class="col">
        <h2><%= link_to article.title, article %></h2>
        <p>
          <div class="row d-none d-md-block">
                <div class="col-lg-6">
                    <%= article.date.strftime('%e %B %Y') %> by&nbsp;<a href="/about-me/" alt="<%= config[:blog_author] %>" rel="noopener" title="<%= config[:blog_author] %>"><%= config[:blog_author] %></a>
                </div>
            </div>
            <div class="row d-md-none col-12">
                <%= article.date.strftime('%e %B %Y') %> by&nbsp;<a href="/about-me/" alt="<%= config[:blog_author] %>" rel="noopener" title="<%= config[:blog_author] %>"><%= config[:blog_author] %></a>
            </div>
        </p>
    </div>
</div>
<% end %>
